.App {
  min-height: 100vh;
  background: #ededed;
}

.app__container {
  max-width: 1100px;
  width: 100%;
  padding: 80px 10px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 64px;
}

.header h1 {
  max-width: 50%;
  overflow-wrap: break-word;
}

.modal {
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.modal.active {
  pointer-events: all;
  opacity: 1;
}

.modal__container {
  background: #FFFFFF;
  border-radius: 10px;
  padding: 20px;
  width: 320px;
}

.modal__container form {
  display: flex;
  flex-direction: column;
}

.modal__container form textarea {
 min-height: 120px;
}

.modal__btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.posts__container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 45px;
}

.post {
  display: flex;
  flex-direction: column;
}

.post a{
  width: 100%;
}

.post__title {
  margin-bottom: 12px;
  flex: 1 1 auto;
  max-height: 44px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post__content {
  border: 1px solid gray;
  border-radius: 4px;
  background: #FFFFFF;
  text-align: left;
  padding: 8px;
  height: 150px;
  overflow: hidden;
  margin-bottom: 12px;
}

.details__form {
  display: flex;
  flex-direction: column;
}

.details__form input {
  height: 40px;
}

.details__form textarea {
  height: 300px;
}

.details__btns {
  display: flex;
  justify-content: space-between;
}