body {
  margin: 0;
  font-family: 'sans-serif';
}

a {
  text-decoration: none;
  color: #000000;
  background: #cfffff;
  border-radius: 4px;
  border: 1px solid gray;
  padding: 8px;
  width: 120px;
  display: block;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: 1px solid gray;
  padding: 8px;
  width: 120px;
  text-align: center;
  cursor: pointer;
  background: #cfffff;
  border-radius: 4px;
}

textarea {
  resize: none;
  outline: none;
  border: 1px solid gray;
  border-radius: 4px;
}

input {
  outline: none;
  border: 1px solid gray;
  border-radius: 4px;
}

input, textarea {
  padding: 12px 6px;
}